.Work{
    width: 80%;
    margin-top: 100px;
    background-color:#23272D;
    color: white;
    overflow-x: wrap;
    box-sizing: border-box;
    margin: auto;
    max-width: 1440px;
}

.Work >div> h1{
    text-align: center;
}


@media (max-width:780px) {
    .Work{
        margin-top: 70px;
        width: 90%;
    }  
 }
@media (max-width:450px) {
    .Work{
        width: 95%;
    }
}