.DisplayCard{
    width: 100%;
    margin: 10px 0px;
    background-color:#2a2e35;
    border-radius: 10px;
    box-sizing: border-box;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info .Text{
    padding: 30px;
}

.info .Image{
    
}

@media (max-width:860px) {
    .info{
        flex-direction: column;
    }
    .Text{
        width: 100%;
    }
    .Image{
        width: 90%;
    }
    .Text h1{
        font-size: 60px;
    }
    .Text h2{
        font-size: 30px;
    }
    .Text h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }

}