.Home{
    min-height: 100%;
    width: 80%;
    margin-top: 100px;
    background-color:#23272D;
    color: white;
}

@media (max-width:780px) {
    .Home{
        margin-top: 50px;
    }  
 }

@media (max-width:450px) {
    .Home{
        width: 95%;
    }
}