.Home{
    width: 80%;
    margin-top: 100px;
    background-color:#23272D;
    color: white;
    max-width: 1440px;
    margin: auto;
}

@media (max-width:780px) {
    .Home{
        margin-top: 50px;
    }  
 }

@media (max-width:450px) {
    .Home{
        width: 95%;
    }
}