.Header{
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: transparent;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.HeaderContent{
    max-width: 1400px;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.HeaderContent ul{
    display: flex;
    flex-direction: row;
    color: white;
    width: 40%;
    justify-content: space-around;
    font-size: 20px;
}

.HeaderContent ul li{
    list-style: none;
}

.HeaderContent ul li:hover{
    color: cadetblue;
    cursor: pointer;
}

@media (max-width:780px) {
   .HeaderContent ul{
       display: none;
   }
   .Header{
        height: 60px;
    }   
}