.Header{
    width: 100%;
    height: 100px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.Header-content{
    max-width: 1400px;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.Header-content ul{
    display: flex;
    flex-direction: row;
    color: white;
    width: 40%;
    justify-content: space-around;
    font-size: 20px;
}

.Header-content ul li{
    list-style: none;
}

.Header-content ul li:hover{
    color: cadetblue;
    cursor: pointer;
}

@media (max-width:780px) {
   .Header-content ul{
       display: none;
   }
   .Header{
        height: 60px;
    }   
}