.Layout{
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#23272D;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.MyChild{
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
}


@media (max-width:780px) {
    .MyChild{
        height: calc(100vh - 60px);
        width: 100%;
        margin-top: 30px;
    }   
 }

