.Footer{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.Link{
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 10%;
    left: 5%;
    color: white;
}