.ImageViewer{
    width: 100%;
    position: fixed;
    bottom: -100%;
    left: 0;
    height: 80vh;
    transition: all 0.3s;
    background-color:#2a2e35;
    color: white;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageViewer button{
    border-radius: 50%;
    background-color: grey;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.Show{
    bottom: 0%;
}

.ImageViewer img{
    max-width: 80vw;
    max-height: 80%;
}

.Prev,.Next{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}