*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#23272D;
}

html, body, #root{ 
  min-height: 100vh;
  overflow: auto;
}

h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 20px;
}
p{
  font-size: 17px;
  font-family: sans-serif;
  color: #A8B2D1;
}


::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: cadetblue; 
  border-radius: 10px;
}
::selection {
  color: cadetblue;
  background: rgba(255, 255, 255, 0.178);
}


@media (max-width:860px) {
  h1{
    font-size: 60px;
  }
  h2{
      font-size: 30px;
  }
  h3{
      font-size: 20px;
  }
  p{
      font-size: 15px;
  }
}
@media (max-width:500px) {
  ::-webkit-scrollbar{
    width: 3px;
  }
}